name: 02 - Workflow Events
on:
    # push:
    pull_request:
    schedule:
        - cron: "*/5 * * * *"
    workflow_dispatch:
jobs:
    echo:
        runs-on: ubuntu-latest
        name: Show the trigger
        steps:
            - run: |
                  echo "Event name: ${{ github.event_name }}"
